dash==2.7.0
dash-bootstrap-components==1.2.1
dash-core-components==2.0.0
dash-echarts==0.0.12.9
dash-extensions==0.1.7
dash-html-components==2.0.0
dash-renderer==1.0.0
dash-table==5.0.0
dash-tabulator==0.4.2
chart-studio==1.1.0
heroku==0.1.4
gunicorn==19.9.0
pandas==1.5.1
plotly==5.10.0
numpy==1.23.4